<div class="spacer"></div>
<div class="spacer"></div>

<div class="center">
	<h1 id="hello">Hello!</h1>
	<p id="my_name">I'm Steve Ono. I'm a web developer + graphic designer in NYC.<br>Feel free to poke around my site to learn more about me.</p>
</div>