<section>
	<div class="summary">
		<div class="message">
			<form class="checkboxes">
				<input type="checkbox">
			</form>
			<a href="#">Mike Jones</a>
			<h1>I Need an Estimate for the Attached Project</h1>
			<i></i>
			<p>Today - 9:30 AM</p>

		</div>
	</div>

	<div class="showmessage">
		<div class="closedivbutton">
			<!--<p>Close</p>-->
		</div>
		<div class="messagediv">
			<div class="optionsmodule">
				<ul class="detailsmodule">
					<li class="details"><a href="#">Details</a></li>
					<li class="detailsbutton"><a href="#"></a></li>
				</ul>
				<ul class="replymodule">
					<li class="closebutton"><a href="#"></a></li>
					<li class="replymenu"><a href="#"></a></li>
					<li class="reply"><a href="#"></a></li>
				</ul>
			</div>
			<div class="replymenuholder">
				<div class="replymenudiv">
					<ul class="replymenulist">
						<li><a href="#">Print</a></li>
						<li><a href="#">Estimate</a></li>
						<li><a href="#">Message</a></li>
						<li><a href="#">Copy</a></li>
						<li><a href="#">More</a></li>
					</ul>
				</div>
			</div>
			<div class="expand_details">
				<div class="lineonediv">
					<ul>
						<li>To<strong>John Smith</strong></li>
						<li>From<strong>Mike Jones</strong></li>
					</ul>
				</div>
				<div class="linetwodiv">
					<ul>
						<li>Subject<strong>I need an estimate for the Attached Project</strong></li>
						<li>Date<strong>August 8, 2013 9:30AM</strong></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="messagebody">
			<p>Hello John,</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta diam ac urna bibendum iaculis. Nulla vitae dictum mi. In bibendum ligula velit, eu ultricies massa tempus in. Vestibulum non magna non lorem cursus tristique. Aenean porttitor ullamcorper metus hendrerit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta diam ac urna bibendum iaculis.</p>

			<p>Aenean porttitor ullamcorper metus hendrerit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta diam ac urna bibendum iaculis. Nulla vitae dictum mi. In bibendum ligula velit, eu ultricies massa tempus in. Vestibulum non magna non lorem cursus tristique.</p>
			<p>Regards,</p>
			<p>John Smith</p>
			
			<div class="replycontainer">
				<div class="replybox">
					<div class="replybox2">
						<textarea class="textarea" rows="5" cols="150"></textarea>
						<div class="replyicons">
							<ul class="replylist">
								<li class="send"><a href="#"></a></li>
								<li class="format"><a href="#"></a></li>
								<li class="attach"><a href="#"></a></li>
								<li class="trash"><a href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="replydivbutton">
			<p>Reply</p>
		</div>
	</div>
</section>