<% if logged_in? %>
	<div class="oauth_demo_div">
		<br>
		<h1 class="portfolio_title">
			Your Google Username Is:
		</h1>

		<br>

		<div class="name_container">
			<h1><%= current_user.name %></h1>
		</div>
		
		<% if current_user.first_time_user == true %>
			<br>
			<p class="oauth_email_message">
				I also sent you a confirmation email to demonstrate Mandrill's REST API. You can logout at the bottom of this page whenever you wish.
			</p>
		<% else %>
			<br>
			<p class="oauth_email_message">
				You may logout on this page whenever you wish.
			</p>

			<br>

			<a class="oauth_button_a" href="/sessions/destroy">
				<div class="oauth_button_div">
					<p>
						Logout
					</p>
				</div>
			</a>
		<% end %>

		<br>
		<br>
		<br>
	</div>

	<div class="spacer"></div>
<% end %>


<div class="portfolio_pieces_divs">
		<div class="<%= @portfolio_piece.category.name.downcase %>">
				<%= image_tag(@portfolio_piece.image_url, class: "portfolio_image") %>
		</div>
</div>

<div class="post_body">
	<div class="social_media_div">
		<i class="fa fa-linkedin social"></i>
		<i class="fa fa-pinterest-p social"></i>
		<i class="fa fa-instagram social"></i>
		<i class="fa fa-twitter social"></i>
		<i class="fa fa-facebook social"></i>
	</div>
</div>

<div class="portfolio_piece_body">
	<p class="portfolio_paragraph">
		<%= @portfolio_piece.body %>
	</p>
</div>

<div class="portfolio_piece_body">
	<p class="portfolio_paragraph">For a demonstration of Oauth2 in action, click on the button below and use your Google account to test Oauth2 for authentication. You will be able to logout from this page whenever you desire.</p>
</div>

<div class="spacer"></div>

<% if logged_in? %>

	<a class="oauth_button_a" href="/sessions/destroy">
		<div class="oauth_button_div">
			<p>
				Logout
			</p>
		</div>
	</a>

<% else %>

	<a class="oauth_button_a" href="/auth/google_oauth2">
		<div class="oauth_button_div">
			<p>
				Login with Google
			</p>
		</div>
	</a>

<% end %>


<div class="spacer"></div>




