
<div class="portfolio_pieces_divs">
		<div class="<%= @portfolio_piece.category.name.downcase %>">
				<%= image_tag(@portfolio_piece.image_url, class: "portfolio_image") %>
		</div>
</div>

<div class="spacer_micro"></div>

<div class="post_body">
	<div class="social_media_div_portfolio">
		<div class="social_media_div">
			<i class="fa fa-linkedin social"></i>
			<i class="fa fa-pinterest-p social"></i>
			<i class="fa fa-instagram social"></i>
			<i class="fa fa-twitter social"></i>
			<i class="fa fa-facebook social"></i>
		</div>
	</div>
</div>

<div class="portfolio_piece_body">
	<p class="portfolio_paragraph">
		<%= @portfolio_piece.body %>
	</p>
</div>
