
<div class="portfolio_pieces_divs">
		<div class="<%= @portfolio_piece.category.name.downcase %>">
				<%= image_tag(@portfolio_piece.image_url, class: "portfolio_image") %>
		</div>
</div>

<div class="portfolio_piece_body">
	<p class="portfolio_paragraph">
		<%= @portfolio_piece.body %>
	</p>
</div>
