<div class="spacer"></div>

<ul class="portfolio_category_ul">
	<li class="active">All</li>
	<li class="pipe">|</li>
	<li class="inactive">Design</li>
	<li class="pipe">|</li>
	<li class="inactive">Development</li>
</ul>

<div class="spacer"></div>

<div class="portfolio_pieces_divs">
	<% @portfolio_pieces.each do |portfolio_piece| %>
		
		<div class="<%= portfolio_piece.category.name.downcase %>">
			<a href="/portfolio/<%= portfolio_piece.id %>">
				<%= image_tag(portfolio_piece.image_url, class: "portfolio_image") %>
			</a>
		</div>

	<% end %>
</div>







