<div class="spacer"></div>

<div class="post_category">
	<p>
		<%= category_helper(@portfolio_piece.category_id) %>
	</p>
</div>

<h1 class="post_title">
	<%= @portfolio_piece.title %>
</h1>

<br>

<% if @portfolio_piece.custom_partial %>
	<%= render partial: "portfolio_pieces/#{@portfolio_piece.custom_partial}" %>
<% else %>
	<%= render partial: "portfolio_pieces/standard_portfolio" %>
<% end %>

<div class="spacer"></div>







