<div class="spacer"></div>
<div class="spacer"></div>

<h1 class="contact_header">New Post Form</h1>
<p class="contact_paragraph">Only admins can create new posts.</p>

<%= render partial: 'posts/post_form' %>











