<div class="spacer"></div>
<div class="spacer"></div>

<h1 class="contact_header">Contact Me</h1>
<p class="contact_paragraph">Please feel free to reach out to me with any questions or comments.</p>

<!-- Plain HTML Version -->
<!-- <div class="form_div">
	<form accept-charset="UTF-8" action="/inquiries" method="post" class="contact_form">
	  <input class="form_field" id="name" name="name" type="text" value="Name" onfocus="if (this.value=='Name') this.value='';" />
	  <div class="line"></div>
	  <textarea class="form_field message" id="message" name="message" cols="60" rows="4" onfocus="if (this.value=='Message') this.value='';" >Message</textarea>
	  <div class="line"></div>
	  <input = class="form_field submit" name="commit" type="submit" value="SEND" />
	</form>
</div> -->

<div class="form_div">
	<%= form_tag("/inquiries", method: "post", class: "contact_form", id: "contact_form") do %>
	  <%= text_field_tag(:name, nil, class: "form_field", value: "Name", onfocus: "if (this.value=='Name') this.value='';", onblur: "if (this.value=='') this.value='Name';") %>
		<div class="line"></div>
		<%= text_area_tag(:message, "Message", class: "form_field", value: "Message", cols: "60", rows: "4", onfocus: "if (this.value=='Message') this.value='';", onblur: "if (this.value=='') this.value='Message';") %>
		<div class="line"></div>
	  <%= submit_tag("SEND", class: "submit") %>
	<% end %>
</div>











