// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_divs {
	display: block;
	float: left;
	width: 33.3%;
	height: auto;
}

.skill_icons {
	display: block;
	width: 33.3%;
	margin: auto;
	margin-bottom: 50px;
}

.icons_container {
	max-width: 950px;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 50px 0 90px;
	overflow: hidden;
}

.skills_header {
	display: block;
	clear: both;
	font-size: 2em;
	font-family: georgia, serif;
	text-align: center;
	margin-top: 10px;
}

.about_image_div {
	width: 100%;
}

.about_image {
	max-width: 700px;
	width: 75%;
	display: block;
	margin: auto;
	border: 7px solid #F2F2F2;
}

.experience_chart {
	max-width: 750px;
	width: 80%;
	display: block;
	margin: auto;
}

.about_paragraph_container {
	max-width: 700px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 6em;
}

.about_paragraph {
	font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.9em;
  margin: 0 0 20px;
}

.about_header {
	display: block;
	margin: 0 0 45px;
	clear: both;
	font-size: 2em;
	font-family: georgia, serif;
	text-align: center;
}

.about_this_site {
	max-width: 950px;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 50px 0 90px;
	overflow: hidden;
}

.about_this_site_icon_divs {
	width: 49%;
	height: 200px;
	display: block;
	float: right;
}

.about_this_site_icon {
	width: 90px;
	height: 100px;
	margin: auto;
	margin-bottom: 10px;
}

.about_this_site_icon i {
	font-size: 6.5em;
	color: #1ABB9C;
}

.about_this_site_h2 {
	font-size: 1.25em;
	text-align: center;
	color: #1ABB9C;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	font-weight: 700;
}












