// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_divs {
	display: block;
	float: left;
	width: 25%;
	height: auto;
}

.skill_icons {
	display: block;
	width: 97px;
	margin: auto;
	margin-bottom: 80px;
}

.soft_skill_icons {
	display: block;
	width: 102px;
	margin: auto;
	margin-bottom: 80px;	
}

.icons_container {
	max-width: 850px; /* was 950 */
	width: 80%;  /* was 100% */
	margin: auto;
	height: auto;
	padding: 60px 0 40px;
	overflow: hidden;
}

.about_image_div {
	width: 100%;
}

.about_round_large {
	max-width: 400px;
	border-radius: 200px;
	width: 75%;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	border: 7px solid #F2F2F2;
}

.experience_chart {
	max-width: 750px;
	width: 80%;
	display: block;
	margin: auto;
}

.about_paragraph_container {
	max-width: 550px;
	width: 65%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 6em;
}

.about_paragraph {
	font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.9em;
  margin: 0 0 20px;
}

.skills_header, .about_header, .about_this_site_header {
	display: block;
	clear: both;
	color: black;
	font-size: 1.65em;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

.about_header {
	margin: 0 0 55px;
}

.about_this_site_header {
	margin: 0 0 30px;
}

.about_this_site {
	max-width: 750px;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 0;
	overflow: hidden;
}

.about_this_site_icon_divs {
	/* border: 1px solid black; */
	width: 280px;
	height: auto;
	display: block;
	margin-bottom: 70px;
}

.about_this_site_h2 {
	font-size: 1.6em;
	text-align: center;
	color: #666;
	font-family: 'Roboto Slab', 'Georgia', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}

.about_this_site_p {
	font-size: 1em;
	color: #666;
	text-align: center;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	margin: 10px 0 0;
}

.about_this_site_icons {
	width: 180px;
	display: block;
	margin: auto;
}

.left {
	display: block;
	float: left;
}

.right {
	display: block;
	float: right;
}







