// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash_recaptcha {
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
	color: red;
}

.form_div {
	height: auto;
	overflow: hidden;
	width: 80%;
	margin: auto;
	margin-bottom: 5em;
}

.contact_options {
	font-size: 1em;
	text-align: center;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	color: 	#D8D8D8;
	font-weight: 700;
	text-transform: uppercase;
}

.contact_options li {
	display: inline;
	margin: 0 5px;
	cursor: pointer;
	cursor: hand;
}

.pipe {
	color: #E0E0E0;	
}

.line {
	border-bottom: 2px solid #F2F2F2;
	width: 100%;
}

.contact_header {
	display: block;
	clear: both;
	font-size: 2.4em;
	font-family: georgia, serif;
	text-align: center;
}

.contact_paragraph {
  font-size: 1.2em;
  font-family: georgia, serif;
  line-height: 1.5em;
  text-align: center;
  margin: -9px 0 15px;
}

.contact_form {

}

.form_field {
	font-family: georgia, serif;
	width: 100%;
	display: block;
	border: none;
}

#name {
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
	color: gray;
}

#name:focus {
	outline: 0;
}

#email {
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
	color: gray;
}

#email:focus {
	outline: 0;
}

#message {
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
	color: gray;
	resize: none;
}	

#message:focus {
	outline: 0;
}

.submit {
	width: 300px;
	height: 45px;
	display: block;
	margin: auto;
	margin-top: 20px;
	background: #1ABB9C;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.submit:hover {
	background: #009989;
}


.recaptcha {
	width: 300px;
	margin: auto;
	margin-top: 20px;
}

#recaptcha1, #recaptcha2 {
	width: 300px;
	margin: auto;
	margin-top: 20px;	
}

.selected_file_div {
	display: inline;
	height: 30px;
	width: 200px;
}

#selected_file {
	display: inline;
	font-size: .9em;
	font-family: 'Roboto Condensed', sans-serif;
}

.upload {
	width: 100px;
	height: 32px;
	background: #999;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: .9em;
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 4px;
	margin: 5px 5px 5px 10px;
}

.upload:hover {
	background: #777;
}




