.blog_main_container {
	width: 100%;
}


.guest_post_h2 {
	text-align: center;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	font-weight: 700;
	color: 	#BDC3C7;
	text-transform: uppercase;
}

.guest_post_link:hover {
	 text-decoration: underline;
}

.guest_post_link {
	text-decoration: none;
	margin-left: 1px;
	color: #1ABB9C;
}


.left_column_posts {
	width: 57%;
	max-width: 575px;
	display: inline;
	float: left;
}



.right_column_posts {
	max-width: 300px;
	width: 35%;
	display: inline;
	float: right;
}

.about_small {
	border: 7px solid #F2F2F2;
	max-width: 286px;
	width: 100%;
}

#about_round:hover {
	opacity: 0.9;
}

#about_round {
	max-width: 286px;
	width: 95%;
	border: 7px solid #F2F2F2;
}

.about_p {
	font-family: 'Georgia', serif;
	line-height: 1.9;
	font-size: 1em;
	margin: 10px 0;
}

.about_a:hover {
	text-decoration: underline;
}

.about_a {
	text-decoration: none;
	color: #1ABB9C;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
}

.featured_posts {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 0 20px;
}

.featured_post_image:hover {
	opacity: 0.9;
}

.featured_post_image {
	width: 120px;
	height: 90px;
	border: 7px solid #F2F2F2;
	display: inline;
	float: left;
}

.featured_post_information {
	width: 150px;
	height: 104px;
	display: inline;
	float: right;
}

.featured_post_title {
	font-size: 1em;
	line-height: 1.25;
	font-family: georgia, serif;
	margin: 3px 0 0;
}

.featured_post_date {
	font-size: .75em;
	line-height: 1.5em;
	font-family: 'Roboto';
	font-weight: 300;
	color: #BDC3C7;
	margin: 4px 0 0;
}

.featured_category_p {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #1ABB9C;
	font-size: .8em;
	margin: 4px 0 0;
}







.post_preview {
	width: 100%;
	display: block;
	float: left;
	margin: 0;
}

.post_information {
	width: 575px;
	display: inline;
	float: left;
}

.post_image:hover {
	opacity: 0.9;
}

.post_image {
	width: 561px;
	display: inline;
	float: left;
	border: 7px solid #F2F2F2;
	margin-bottom: 5em;
}

.page_title {
	padding: 0 0 10px;
  font-family: georgia, serif;
  font-size: 1.75em;
  display: block;
}

.page_title_link {
	text-decoration: none;
	color: black;
}

.page_title_link:visited {
	color: black;
}

.page_title_link:hover {
	color: #15A187;
}

.content_preview {
	display: block;
	clear: both;
	margin: 0 0 25px;
}

.post_category {
	width: 170px;
	background: #1ABB9C;
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	border-radius: 6px;
	font-size: .9em;
	text-transform: uppercase;
	padding: 7px 0 4px;
}

.category_p {
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #1ABB9C;
	font-size: .87em;
	margin: 0 0 0 0;
}

i.preview_category {
	font-size: .8em;
	color: #1ABB9C;
	margin: 0 0 0 16px;
}



.post_title {
	width: 650px;
	padding: 20px 0 30px;
  font-family: georgia, serif;
  font-size: 2em;
  display: block;
  text-align: center;
  line-height: 1.25em;
}

.post_author_date {
	font-size: 1.2em;
	display: block;
	text-align: center;
	font-family: georgia, serif;
	margin: 0 0 30px;	
}

.post_author {
	/* color: #95A5A6; */
	color: black;
	font-size: 1.1em;
	font-weight: 400;
	margin: 0 2px 0 2px;
}

.post_image_large {
	width: 100%;
	max-width: 650px;
	display: block;
	margin: auto;
	border: 7px solid #F2F2F2;
	margin-bottom: 20px;
}

.post_body {
	width: 100%;
	max-width: 650px;
	display: block;
	margin: auto;
}

.social_media_div {
	width: 200px;
	height: 20px;
	margin: auto;
	margin-top: 30px;	
}

.social_media_div i.social {
	margin: 0 12px;
}

.social_media_div i.fa-pinterest-p {
	margin-top: 1px;	
}

.social_media_div i.fa-instagram {
	margin-top: 1px;	
}

.post_paragraph {
  font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.9;
  margin: 0 0 20px;
}

.post_body p {
  font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.9;
  margin: 0 0 20px;
}

.post_body span {
	font-family: "Courier", "Georgia", serif;
}

.post_body .code {
	margin-left: -7px;
}



.week {
	height: 23px;
	width: 494px;
	display: block;
	clear: both;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	background: #F2F2F2;
	color: gray;
	margin-bottom: 5em;
}


.week p {
	padding: 0;
	text-transform: uppercase;
}

.week_link {
	text-decoration: none;
}

.page_info {
	font-size: .8em;
	color: #BDC3C7;
	display: inline;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 1px 0 0 0;
}

.page_info_div_preview {
	width: 100%;
	height: 25px;
}

.page_info_div_preview span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: .85em;
}

.date {
	color: #BDC3C7;
	margin: 0 0 0 12px;
}







i.social:hover {
	color: #7F8C8D;
}

i.fa-facebook {
}

i.social {
	color: #95A5A6;
	float: right;
	font-size: 1em;
	margin: 0 17px 0 0;	
}

i.fa-instagram {
	font-size: .9em;
	margin-top: 1px;
}

i.fa-pinterest-p {
	margin: 1px 15px 0 0;	
}

i.fa-twitter {
}

i.fa-linkedin {
	margin: 0;			
}




#page_body {
	padding: 20px 0;
	width: 70%;
	display: block;
	margin: auto;
	font-family: georgia;
	line-height: 1.6em;
	font-size: 1.2em;
}

.paragraph {
	margin: 0 0 100px;
}




.page_info_div_show {
	margin: auto;
	margin-bottom: 25px;
	text-align: center;
}

.post_title_show {
	padding: 20px 0 25px;
  font-family: georgia, serif;
  font-size: 2.5em;
  display: block;
  text-align: center;
  line-height: 1.25em;
}

.page_info_div_show span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: .85em;
}

span.post_author_show {
	font-weight: 400;
}

span.category_p_show {
	font-weight: 400;
	color: #1ABB9C;
}

span.category_p_show i.fa-bookmark {
	font-size: .9em;
	margin: 0;
}

.date_show {
	color: #BDC3C7;
	margin: 0 8px;
}

.category_p_show {
	margin: 0;
}

span.by {
	color: #BDC3C7;
}



/* New Post Form */

.form_field {
	font-family: georgia, serif;
	width: 95%;
	display: block;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	font-size: 1.1em;
	color: gray;
	resize: none;
}

.new_post {
	width: 100%;
	margin: 0 0 0 6px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form_field:focus {
	outline: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

#post_category_id {
	width: 100%;
}

#category {
	width: 100%;
}

#file_field {
	width: 100%;
	margin-left: 5px;
	background: rgb(248, 248, 248);
	margin-top: 5px;
	margin-bottom: 5px;
}

.image_upload {
	width: 100%;
	font-size: .75em;
	margin-top: 7px;
	margin-bottom: 7px;
}

.spacer_small {
	height: 30px;
}




.recent_posts {
	width: 275px;
	display: block;
	float: right;
}

.recent_posts a {
	text-decoration: none;
	color: #585858;
}

.recent_posts_header {
	padding: 0 0 15px;
  font-family: georgia, serif;
  font-size: 1.75em;
}

.recent_posts_links {
	margin-bottom: 15px;
	font-family: georgia, serif;
}

.recent_posts_links:hover {
	color: #1ABB9C;
}

.hide {
	display: none;
}

.post_approved_ul {
	text-align: center;
	font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
}

.post_approved_ul li {
	display: inline;
	margin: 0 5px;
	cursor: pointer;
	cursor: hand;
}




